/* Header.module.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* z-index: 1000;  */
}

.logo {
  height: 45px;
  color: #03554e;
}

.logout {
  cursor: pointer;
}
